body {
    margin: 60px auto;
    width: 70%;
    font-family: Tahoma, sans-serif;
    background-color:#F4f4f4;
    color:#808080;
}

nav ul {  
    list-style: none;
    color: #002060;
    font-weight: bold;
    margin-bottom: 30px;
    
}

address { 
  display: block;
  font-style: italic;
  color: #FFFFFF;
  margin-right: 15px;


}
article {
  float: left;
  padding: 10px;
  width: 60%;
  background-color: #FFF0F5;
  clear: both;
}

section::after {
  content: "";
  display: table;
}

aside {
  width: 30%;
  float: right;
  font-style: italic;
  background-color:#E6E6FA;
}

header { 
    padding: 60px;
    text-align: center;
    background-color:#D8BFD8;
    background-repeat: repeat-x;  
    height: 200px;
    margin-top:10px;
}

.header h1 {
    color: white;
    font-size: 50px;
}

footer ul {

    list-style: none;
    font-weight: bold;
    margin-top:15px;
    margin-bottom: 15px;
    padding: 10px;
    font-size: .8em;


}

nav ul li, footer ul li {
    display: inline;
    margin-right: 15px;
    margin-bottom: 15px;

}

footer {
    border-top: 1px solid #002060;
    background-color:#D8BFD8;
    clear: both;
    padding-top:10px;
    margin-top: 20px;

}

a {
    text-decoration: none;
    color: #002060;
    padding: 10px;
    margin:10px;
     
}

a:hover {
    text-decoration: underline;
    color: hotpink;

}

h1 {
    font-size: 20px;
    color: #808080;
}

h2.groove {
    font-size: 16px;
    color: #808080;
    border-style: groove;
    padding: 5px;
    width: 120px;
}

h2 {
    font-size: 18px;
    color:#808080;
}

h3 {
    font-size: 14px;
    color:#808080;
}

.ollistDiv {
  border: 2px dotted #D3D3D3;
  background-color: #F5EEF8;
  text-align: left;
  padding:20px;
  width: 200px;
  height: 200px;
  float:left;
  margin:10px;
}

.unlistDiv {
  border: 2px dotted #D3D3D3;
  background-color: #F5EEF8;
  text-align: left;
  padding:20px;
  width: 200px;
  height: 200px;
  float:left;
  margin:10px;  
}


img {
width:300px;
padding:5px;
}

p {
    font-size: 16px;
    line-height: 1.4em;
    color: #002060;
    clear: both;
}



.a {
    list-style-type:lower-alpha;
    list-style-position: inside;
}

.b {
    list-style-type:square;
    list-style-position: inside;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.places {
    padding-top: 10px;
    float:left;
    
}

progress {
  accent-color: gray;
}

 