body {
    margin: 60px auto;
    width: 70%;
      font-family: Tahoma, sans-serif;
background-color:ivory;
color:gray;

}

nav ul, footer ul {

    padding: 0px;
    list-style: none;
    color: #002060;
    font-weight: bold;

}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #002060;

}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
        color: #2AABDB;
}
h2 {
    font-size: 2em;
        color: #2AABDB;
}
.myDiv {
  border: 5px outset red;
  background-color: lightblue;
  text-align: center;
}
p {

    font-size: 1.5em;
    line-height: 1.4em;
    color: #404040;

}
footer {
    border-top: 1px solid #404040;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}