body {
    margin: 60px auto;
    width: 70%;
    font-family: Lato, sans-serif;
    background-color:#F4f4f4;
    color:#808080;
}

nav ul {  
    list-style: none;
    font-weight: bold;
    margin-bottom: 80px; 
    margin-top: 40px; 
}


article {
  float: left;
  padding-bottom: 10px;
  width: 50%;
  clear: both;
}

section::after {
  display: table;
  clear: both;
}

aside {
  width: 20%;
  float: right;
  font-style: small;
  background-color:#E8E2DF;
  margin:10px;
  padding: 20px;
  clear: both;
}

header { 
    padding: 60px;
    text-align: center;
    background-color:#DFD2CC;
    background-repeat: repeat-x;  
    height: 200px;
    margin-top:10px;
}

.header h1 {
    color: white;
    font-size: 60px;
}

footer ul {
    list-style: none;
    font-weight: bold;
    margin-top:10px;
    padding: 20px;
    font-size: 0.8em;
}

nav ul li {
    display: inline;
    margin-right: 15px;
    margin-bottom: 15px;
}

footer {
    border-top: 1px solid #808080;
    background-color:#DFD2CC;
    padding-top: 20px;
    position: relative;
    top: 100px;
    clear: both;
}

footer ul li {
    display: inline;
}

.education {
  font-size: 14px;
}

a {
    text-decoration: none;
    color: #808080;
    padding: 10px;
    margin:10px;  
}

a:hover {
    text-decoration: none;
    color: #BE9F92;
}

h1 {
    font-size: 28px;
    color: #B09183;
}


h2 {
    font-size: 18px;
    color:#B09183;
}

h3 {
    font-size: 14px;
    color:#808080;
}

.ollistDiv {
  background-color: #F5EEF8;
  text-align: left;
  padding:20px;
  width: 200px;
  height: 200px;
  float:left;
  margin:10px;
}

.unlistDiv { 
  text-align: left;
  line-height: 1.2em;
  margin-top: 10px;
  position: relative;
}

.unlistDiv li {
  position:relative;
  left: -40px;
}

img {
width:200px;
padding:5px;
border-radius: 50px; 
}

p {
    font-size: 14px;
    line-height: 1.4em;
    color: #808080;
    clear: both;
    width: 50%;
}


.a {
    list-style-type:none;
    list-style-position: inside;
}

.b {
    list-style-type:none;
    list-style-position: inside;
    font-size:0.8em;
}

ul.posts { 
    margin: 10px auto 30px; 
    font-size: 18px;
}

ul.posts li {
    list-style: none;
}

.places {
    padding-top: 10px;
    float:right;   
}

progress {
  accent-color: gray;
}

 footer a { 
  padding-right: 20px;
  color: white;
  text-decoration: none;
}

footer h2 {
  color:white;
  position: relative;
  left: 20px;
}

.skills-class {
  position: absolute;
  top: 800px;
  right: 300px;
  width: 370px;
}

.interests-class  {
  position: absolute;
  top: 1250px;
  right: 300px;
  width: 370px;
}